/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    margin-left: 120px;
    color: rgba(58, 58, 58, 1);
}
.start-journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.start-journey-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.start-journey-text h1{
    font-size: 52px;
    margin-bottom: 16px;
}
.start-journey-text p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.start-journey-text button{
    outline: 0;
    border: 0;
    color: white;
    background-color: rgba(224, 44, 109, 1);
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 41px;
}
.fa-arrow-right{
    margin-left: 5px;
}
.start-journey-image{
    width: 100%;
    display: flex;
    justify-content: center;
}


.collection-area{
    margin: 100px 160px;
}
.collection-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}
.collection-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-content: center;
}
.single-item{
    padding: 14px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
   
}
.item-title{
    margin-bottom: 5px;
}
.fa-star,.fa-star-half-alt{
    font-size: 16px;
    color: #FB8200;
    margin-bottom: 10px;
}